<div id="niftys" class="niftys">
<h3 class="niftys_h3"><%=h @album.title %>
<a href="#" onclick="show_dialog(<%=@album.id%>)" class="niftys_right">添加图片</a>
</h3>
<div class="album">
  <ul>
    <%  @album_photos.each do |al_photo|%>
      <% @photo = Photo.find(:first,:conditions=>["id =?",al_photo.photo_id]) %>
      <% if @photo %>
        <li>
          <%=link_to image_tag(url_for_file_column('photo' ,'image','small')),photo_path(@photo) %>
        </li>
      <% end  %>
    <% end  %>
  </ul>
</div>
</div>
<%=render :partial=>"photos/ajax_upload",:locals=>{:redirect_url=>album_path(@album)}%>
<%= link_to '返回', albums_path %>