<%#
# 在引用的地方添加: <a href="#" onclick="show_dialog(<%=album.id\&>)">添加图片</a>
# 其中需要一个参数 album_id
# <%=render :partial=>"photos/ajax_upload"&>
%>
<div id="alert" style="display:none;">
<h4><span>添加图片</span><span id="close">关闭</span></h4>
<div id="progress_bar" style="display:none;">
    <img src="/images/ProgressBar.gif"/>
</div>
<div id="alert_body">
<% @photo = Photo.new %>
<% form_for(@photo,:html=>{:multipart=>true,:onsubmit=>"close_dialog();"}) do |f| %>
  <%= f.error_messages %>
  <p>
    <input type="hidden" id="album_id" name="album_id" value=""/>
    <input type="hidden" name="redirect_url" value="<%=redirect_url%>" />
  </p>
  <p>
    <%= f.label :title,'图片名称' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :image,'选择地址' %><br />
    <%# f.file_column_field :image %>
		<%=file_column_field 'photo','image' %>
  </p>
  <p>
    <%= f.label :tags,'标签' %><br />
    <%= f.text_field :tag_list %>*多个以","隔开
  </p>
  <p>
    <%= f.submit '提交' %>
  </p>
<% end %>
</div>
</div>

<script type="text/javascript">
var myAlert = document.getElementById("alert");
var progress_bar = document.getElementById("progress_bar");
var mClose = document.getElementById("close");
function show_dialog(parma_id)
{
myAlert.style.display = "block";
myAlert.style.position = "absolute";
myAlert.style.top = "20%";
myAlert.style.left = "30%";
myAlert.style.marginTop = "-75px";
myAlert.style.marginLeft = "-150px";
mybg = document.createElement("div");
mybg.setAttribute("id","mybg");
mybg.style.background = "#000";
mybg.style.width = "100%";
mybg.style.height = "100%";
mybg.style.position = "absolute";
mybg.style.top = "0";
mybg.style.left = "0";
mybg.style.zIndex = "500";
mybg.style.opacity = "0.3";
mybg.style.filter = "Alpha(opacity=30)";
document.body.appendChild(mybg);
document.body.style.overflow = "hidden";
//给parent_id隐藏于赋值
document.getElementById("album_id").value=parma_id;
}
mClose.onclick=function(){
myAlert.style.display = "none";
mybg.style.display = "none";
}
var flag=0;
function close_dialog()
{
  //显示进度条
  progress_bar.style.display='block';
  //希望延迟5秒钟后关闭窗口
  test();
  //隐藏进度条

}
function test(){
   if(flag==0)
    {
      //教训:
      //1.首先设置flag的值,然后再调用setTimeout,否则得不到效果
      //2.setTimeout("test()",5000)不能写成setTimeout(test(),5000),否则得不到延迟效果
      flag=1;
      setTimeout("test()",3000);
    }
   else if(flag==1)
     {
      flag=10;
      progress_bar.style.display='none';
      mClose.onclick();

     }
}
</script>
<style type="text/css">
#alert {border:1px solid #369;width:300px;height:360px;background:#e2ecf5;z-index:1000;position:absolute;display:none;}
#progress_bar{position:absolute;display:none;width:300px;height:300px;
  top:40%;left:40%;margin-top:-75px;margin-left:-130px;
  z-index:10;}
#alert h4 {height:20px;background:#369;color:#fff;padding:5px 0 0 5px;}
#alert h4 span {float:left;}
#alert h4 span#close {float:right;font-weight:500;cursor:pointer;}
#alert p {padding:12px 0 0 30px;}
#alert p input {width:120px;margin-left:20px;}
#alert p input.myinp {border:1px solid #ccc;height:16px;}
#alert p input.sub {width:60px;margin-left:30px;}
</style>
