<%=render :file=>"albums/index"%>

<div id="niftys" class="niftys">
	<h3 class="niftys_h3">图片标签</h3>
	<div style="padding:20px">
	 <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
			<%= link_to tag.name, {:action => :tag, :id => tag.name }, :class => css_class %>
		<% end %>
	</div>
</div>

<div id="niftys" class="niftys">
<h3 class="niftys_h3">图片列表
<%= link_to '添加新图片', new_photo_path,:class=>"niftys_right" %>
</h3>
<div class="album">

 <div class='flickr_pagination'>
  <%= will_paginate @photos,:next_label=>"下一页",:previous_label=>"上一页" %>
</div>

  <ul>
    <% for @photo in @photos do %>
      <li>
        <%=link_to image_tag(url_for_file_column('photo' ,'image','small')),photo_path(@photo) %>
      </li>
    <% end  %>
  </ul>
</div>
</div>
